.app {
    background:lightcyan;
}
.rally-app{
    height:30px;
}
.x-container .rally-app .x-fit-item .x-container-default {
    height:20px !important;
}
#container {
    min-width: 300px;
    max-width: 1000px;
    height: 420px;
    margin: 1em auto;
}