.app {
  /* Add app styles here */
}

.ashley {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.sigma-scene{
  height:300px !important;
}

#sidebar {
  bottom: 0;
  right: 0;
  width: 200px;
  height: 150px;
  position: absolute;
  background-color: #999;
  padding: 10px;
}